{% extends "base.html"%}
{% block content %}
<div class="container">
<div class="content-section-b">
 <div class="row text-center row-centered">
                <div class="col-md-8 col-sm-5 col-xs-5 vleft col-left-main">
                    <img class="img-responsive left-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/IMG_0878.jpg" alt="">
                </div>
 <div class="col-md-4 col-sm-8 col-xs-8 vcenter col-centered-main">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">The Founding Team</h3>
                    <p class="lead">Studybuddie.me is a start-up founded by three friends in New York City:</p>
                    <p class="lead">Adrian Zhang studied Biomedical Engineering at Duke University and currently works in the Financial <br>Services Industry.	</p>
                    <p class="lead">Souvik Paul studied Social Science at Harvard University and is currently enrolled in the Products of Design MFA Program at the School of Visual Arts.</p>
					<p class="lead">Walter Li studied Biomedical Engineering at Duke University and currently works as a Software Engineer at AppNexus. </p>
                </div>

<!-- </div> -->
</div>
</div>
<footer>
       <div class="container">
            <div class="row row-centered margin-lr">

                <div class="col-md-1 col-sm-6 col-xs-8 col-centered margin-lr">
                	<a href ="https://www.facebook.com/studybuddie.me?fref=nf">
                    <img class="center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/facebook.png" alt="" height="50">
                    </a>
                </div>

                <div class="col-md-1 col-sm-6 col-xs-8 col-centered margin-lr">
                	<a href ="http://studybuddie.strikingly.com">
                    <img class="center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/blog.png" alt="" height="50">
                    </a>
                </div>
 				<div class="col-md-1 col-sm-6 col-xs-8 col-centered margin-lr">
                	<a href ="mailto:studybuddie.me@gmail.com">
                    <img class="center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/Email.png" alt="" height="50">
                    </a>
                </div>

                <div class="col-md-1 col-sm-6 col-xs-8 col-centered margin-lr">
                <a href ="https://twitter.com/mystudybuddie">
                    <img class ="center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/twitter.png" alt="" height="50">
             </a>
                </div>


                
            </div>

        </div>


</footer>


{% endblock %}


