
{% extends "bootstrap/base.html"%}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
StudyBuddie Tutoring
{% endblock %}
{% block head %}
{{ super() }}
    {% block styles %}
    {{super()}}
    <link href="/static/css/landing-page.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lobster:400" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    {% endblock %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

		<div class="navbar-header">
			<a href="/"><img src="https://s3.amazonaws.com/nameless-harbor-2037/img/GlassesWord.png" alt="" height = "50" padding-top= "1"></a>

		</div>
        <div class="collapse navbar-collapse main-nav">
            <ul class="nav navbar-nav navbar-right">
				{% if not current_user.is_authenticated()%}
					{% if not hideLogin %}
					<li>
						<a class="cd-signin" href="#0">Log in</a>
					</li>
					<li>
						<a class="cd-signup" href="#0">Register</a>
					</li>
					{% else %}
					<li>
						<a href="login">Log in</a>
					</li>
					<li>
						<a href="register">Register</a>
					</li>
					{% endif %}
				{% else %}

				<li>
					<a href="auth/logout">Log out</a>
				</li>
				<li>
					<a href="profile">Profile</a>
				</li>
				{% endif %}
                <li>
                    <a href="aboutus">About</a>
                </li>
                <li>
                    <a href="tutors">Become a Tutor</a>
                </li>
            </ul>
        </div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<!--
		<div class="collapse navbar-collapse main-nav" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
			<li><a class="cd-signin" href="#0">Sign in</a></li>
			<li><a class="cd-signup" href="#0">Sign up</a></li>
			</ul>
		</div>
		-->
		<!-- /.navbar-collapse -->

	<!-- /.container -->
</nav>
{% endblock %}
{% block content %}
<div class="container message">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/main.js"></script>
	<script src="/static/js/modernizr.js"></script>
{% endblock %}