{% extends "base.html"%}
{% block content %}
    <div class="dashboard-section-b">
        <div class="row">
            <h1 class="firstname">Hi {{FirstName}},</h1>
            <h1 class="red-sentence">StudyBuddies are class specific in-person on-demand tutors</h1>
        </div>
    </div>
    <div class="dashboard-section-a">
        <div class="row">
            <h1 class="black-sentence">At {{SchoolName}} we have StudyBuddies in:</h1><br>
        </div>

        <div class="row">
            <p class="dashboard-lead">
                <u class="dotted">CHEM101<br></u>
                <u class="dotted">CS23<br></u>
                <u class="dotted">MATH207<br></u>
            </p>

            <div class="button-pad">
                <a href="#" class="btn btn-success btn-lg">Schedule a StudyBuddie</a>
            </div>
        </div>
    </div>
    <div class="dashboard-section-b">
        <div class="row">
            <h1 class="red-sentence">Your StudyBuddie Schedule:</h1>
        </div>

        <div class="row">

            <h1 class="button-pad lead">Looks like you haven't scheduled anything yet</h1>
        {% for getHelp in getHelps %}
            {{getHelp.class_number}}
        {% endfor %}
        </div>
    </div>
{% endblock %}