{% extends "base.html"%}
{% block content %}
<script src="/static/js/moment.min.js"></script>
<div class="content-section-b">
	<div class="row text-center row-centered">

		<p class="section-heading-light">Step 1: Fill out the form below.</p>
		<p class="section-heading-light">Step 2: Submit payment.</p>
		<p class="section-heading-light">Step 3: Meet your Studybuddie.</p>
		<div class="row text-center row-centered">
			<div class="col-md-3 vcenter col-centered-main">
				<form class="form" method="post" role="form">
				{{getHelpForm.csrf_token}}
				{{ wtf.form_field(getHelpForm.classNumber) }}
				{{ wtf.form_field(getHelpForm.location) }}
				{{ wtf.form_field(getHelpForm.helpComment, placeholder='(Optional)') }}
				{{ wtf.form_field(getHelpForm.duration, placeholder="Optional") }}
				{{ wtf.form_field(getHelpForm.whenStartDay) }}
				{{ wtf.form_field(getHelpForm.whenStartTime) }}
				{{ wtf.form_field(getHelpForm.submit) }}
				</form>
			<div class="col-md-3 vcenter col-centered-main">
		</div>
	</div>
</div>
{% endblock %}