
{% extends "base.html"%}

{% block content %}
    <!-- Header -->
    <div class="intro-header-main">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>StudyBuddie</h1>
                        <h3>On-Demand Tutoring for Students</h3>
                        <hr class="intro-divider">

                     </div>
                 </div>
             </div>

             <div class="row">
                        <h3>Thanks for Signing up! We'll let you know when we've launched!</h3>
            </div>
        </div>
        <!-- /.container -->

    </div>


    <!-- /.intro-header -->
    <!-- Page Content -->
    <!-- intro lines on top after splash screen -->



    <div class="content-section-b">
        <div class="row text-center row-centered">
            <h1 class="intro-line-text">Tutoring for the next generation of students</h1>
        </div>


            <div class="row text-center row-centered">
                <div class="col-md-2 col-sm-5 col-xs-5 vcenter col-centered-main">
                    <img class="img-responsive center-block" src="static/img/clock.png" alt="">
                </div>

                <div class="col-md-5 col-sm-8 col-xs-8 vcenter col-centered-main">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">On-Demand: Get a tutor ASAP</h2>

                    <p class="lead">Midterm tomorrow? Fear not, StudyBuddie will match you with a tutor who can meet within 30 minutes or less</p>
                </div>
            </div>

            <br>

             <div class="row text-center row-centered">
                <div class="col-md-2 col-sm-5 col-xs-5 vcenter col-centered-main">
                    <img class="img-responsive center-block" src="static/img/person.png" alt="">
                </div>

                <div class="col-md-5 col-sm-8 col-xs-8 vcenter col-centered-main">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">StudyBuddies: Experts to answer your questions</h2>

                    <p class="lead">StudyBuddies are grad students, TAs, and other experts that can answer the hard questions you have about your courses</p>
                </div>
            </div>

            <br>

             <div class="row text-center row-centered">
                <div class="col-md-2 col-sm-5 col-xs-5 vcenter col-centered-main">
                    <img class="img-responsive center-block" src="static/img/money.png" alt="">
                </div>

                <div class="col-md-5 col-sm-8 col-xs-8 vcenter col-centered-main">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Cost: $25/hr</h2>
                    <p class="lead">StudyBuddies only tutor when they have free time, which allows us to charge significantly less than normal private tutoring rates</p>
                </div>
            </div>


        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-a">

        <div class="container">

            <div class="row row-centered margin-lr">

                <div class="col-md-4 col-sm-8 col-xs-8 col-centered">
                    <img class="img-responsive center-block" src="static/img/schedule.png" alt="">
                    <div align="center">
                        <h3 class="section-heading">Get Scheduled</h3>
                        <p class="lead">Pick a class and request a StudyBuddie anywhere from immediately to a week out</p>
                    </div>
                </div>


                <div class="col-md-4 col-sm-8 col-xs-8 col-centered">
                    <img class="img-responsive center-block" src="static/img/matched.png" alt="">
                    <div align="center">
                        <h3 class="section-heading">Get Matched</h3>
                        <p class="lead">We'll match you with the highest ranked tutor who is available and willing to travel to you.</p>
                    </div>
                </div>


                <div class="col-md-4 col-sm-8 col-xs-8 col-centered">
                    <img class="img-responsive center-block" src="static/img/aplus.png" alt="">
                    <div align="center">
                        <h3 class="section-heading">Get A+'s</h3>
                        <p class="lead">Your StudyBuddy will teach you what you need to know to ace the next test!</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-b">
        <div class="container">
            <div class="row row-centered">
                <div class="quote-textstyle">Study smarter with an expert, your StudyBuddie</h3>
            </div>
        </div>
    </div>




    <!-- /.content-section-a -->

        <div class="content-section-a">

        <div class="container">

            <div class="row row-centered">

                <div class="col-sm-4 col-centered">
                    <img class="img-responsive img-circle center-block" src="static/img/walter.jpg" alt="">
                    <div align="center">
                        <br>
                        <p class="text-review">I've spent countless nights cramming for tests where all I really needed was a StudyBuddie to clearify a few points for me.</p>
                    </div>
                </div>


                <div class="col-sm-4 col-sm-offset-1 col-centered">
                    <img class="img-responsive img-circle center-block" src="static/img/souvik.jpg" alt="">
                    <div align="center">
                        <br>
                        <p class="text-review">After weeks of writing my senior thesis, what I need most is to have a StudyBuddie review my writing and help me clearify my thoughts.</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>


    <!-- footer stuff -->

    <div class="banner">

        <div class="container">

            <div class="row row-centered">
                <div class="col-lg-12">
                    <h2>Sign-up for our Beta Release</h2>
                    <br>
                </div>
            </div>
                <div class="row row-centered">
                <!--
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                    -->
                        <form class="form-lead-capture" method="POST" action="auth/register">
                        <label class="email-capture">
                        {{ form.email(placeholder="Enter your email address") }}
                        {{form.submit(_class="button button-navy input-lead-gen", value="Join the Beta List")}}

                       <!-- <input type="submit" class="button button-navy input-lead-gen" value="Get Started"></input> -->
                        </form>

                </div>


        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright &copy; StudyBuddie 2014. All Rights Reserved</p>
                    <a class="copyright text-muted small" href="mailto:support@studybuddie.me">support@studybuddie.me</a>

                </div>
            </div>
        </div>
    </footer>
    {% endblock %}
