<!DOCTYPE html>
{% extends "bootstrap/base.html"%}
{% import "bootstrap/wtf.html" as wtf %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>StudyBuddie Tutoring</title>

    <!-- Custom CSS -->
    {% block styles %}
    {{super()}}
    <link href="static/css/landing-page.css" rel="stylesheet">
    {% endblock %}-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
{% block navbar %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">StudyBuddie</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse main-nav" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                <li><a class="cd-signin" href="#0">Sign in</a></li>
                <li><a class="cd-signup" href="#0">Sign up</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
{% endblock %}

{% block content %}
    <!-- Header -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>StudyBuddie</h1>
                        <h3>On-Demand Tutoring for Students</h3>
                        <hr class="intro-divider">


                        <form class="form-lead-capture form-lead-capture-landing" method="POST">
                        <label class="email-capture">
                                {{ form.email(placeholder="Enter your email address") }}

                        <label class="password-capture">
                                {{ form.password(placeholder="Enter your password") }}

                        {{form.submit(_class="button button-navy input-lead-gen", value="Get Started")}}
                       <!-- <input type="submit" class="button button-navy input-lead-gen" value="Get Started"></input> -->
                        </form>


                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>


    <!-- /.intro-header -->
    <!-- Page Content -->

    <div class="content-section-b">

             <div class="row text-center">
                <div class="col-md-2 vcenter">
                    <img class="img-responsive center-block" src="static/img/clock.png" alt="">
                </div>
                    <div class="col-md-5 vcenter">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">On-Demand: Get a tutor ASAP</h2>
                    <p class="lead">Midterm tomorrow? Fear not, StudyBuddie will match you with a tutor who can meet within 30 minutes or less</p>
                </div>

            </div>

            <br><br>

             <div class="row text-center">
                <div class="col-md-2 vcenter">
                    <img class="img-responsive center-block" src="static/img/person.png" alt="">
                </div>

                <div class="col-md-5 vcenter">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">StudyBuddies: Experts to answer your questions</h2>

                    <p class="lead">StudyBuddies are grad students, TAs, and other experts that can answer the hard questions you have about your courses</p>


                </div>
            </div>

            <br><br>

             <div class="row text-center">
                <div class="col-md-2 vcenter">
                    <img class="img-responsive center-block" src="static/img/money.png" alt="">
                </div>

                <div class="col-md-5 vcenter">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Cost: $25/hr</h2>
                    <p class="lead">StudyBuddies only tutor when they have free time, which allows us to charge significantly less than normal private tutoring rates</p>
                </div>
            </div>


        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">

                <div class="col-sm-4">
                    <img class="img-responsive center-block" src="static/img/schedule.png" alt="">
                    <div align="center">
                        <h3 class="section-heading">Get Scheduled</h3>
                        <p class="lead">Pick a class and request a StudyBuddie anywhere from immediately to a week out</p>
                    </div>
                </div>


                <div class="col-sm-4">
                    <img class="img-responsive center-block" src="static/img/matched.png" alt="">
                    <div align="center">
                        <h3 class="section-heading">Get Matched</h3>
                        <p class="lead">We'll match you with the highest ranked tutor who is available and willing to travel to you.</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <img class="img-responsive center-block" src="static/img/aplus.png" alt="">
                    <div align="center">
                        <h3 class="section-heading">Get A+'s</h3>
                        <p class="lead">Your StudyBuddy will answer your questions, help you tackle your homework, and teach you those difficult concepts</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->


    <!-- /.content-section-a -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-7">
                    <h2>Sign-up for our Beta Release:</h2>
                </div>
                <div class="col-lg-5">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#home">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Sowvick 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>


    <div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
        <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
            <ul class="cd-switcher">
                <li><a href="#0">Sign in</a></li>
                <li><a href="#0">New account</a></li>
            </ul>

            <div id="cd-login"> <!-- log in form -->
            <form class="cd-form">
            <p class="fieldset">
                    {{ form.email(class_="full-width has-padding has-border", id="signin-email", type="email", placeholder="E-mail") }}
            </p>
            <p class="fieldset">
                    {{ form.password(class_="full-width has-padding has-border", id="signin-password", type="text", placeholder="Password") }}
                    <a href="#0" class="hide-password">Hide</a>
            </p>
            <p class="fieldset">
                <input class="full-width" type="submit" value="Login">
            </p>

             </form>
                <p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p>
                <!-- <a href="#0" class="cd-close-form">Close</a> -->
            </div> <!-- cd-login -->

            <div id="cd-signup"> <!-- sign up form -->
                <form class="cd-form">
                    <p class="fieldset">
                        <label class="image-replace cd-username" for="signup-username">Username</label>
                        <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username">
                        <span class="cd-error-message">Error message here!</span>
                    </p>

                    <p class="fieldset">
                        <label class="image-replace cd-email" for="signup-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
                        <span class="cd-error-message">Error message here!</span>
                    </p>

                    <p class="fieldset">
                        <label class="image-replace cd-password" for="signup-password">Password</label>
                        <input class="full-width has-padding has-border" id="signup-password" type="text"  placeholder="Password">
                        <a href="#0" class="hide-password">Hide</a>
                        <span class="cd-error-message">Error message here!</span>
                    </p>

                    <p class="fieldset">
                        <input type="checkbox" id="accept-terms">
                        <label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
                    </p>

                    <p class="fieldset">
                        <input class="full-width has-padding" type="submit" value="Create account">
                    </p>
                </form>

                <!-- <a href="#0" class="cd-close-form">Close</a> -->
            </div> <!-- cd-signup -->

            <div id="cd-reset-password"> <!-- reset password form -->
                <p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

                <form class="cd-form">
                    <p class="fieldset">
                        <label class="image-replace cd-email" for="reset-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
                        <span class="cd-error-message">Error message here!</span>
                    </p>

                    <p class="fieldset">
                        <input class="full-width has-padding" type="submit" value="Reset password">
                    </p>
                </form>

                <p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
            </div> <!-- cd-reset-password -->
            <a href="#0" class="cd-close-form">Close</a>
        </div> <!-- cd-user-modal-container -->
    </div> <!-- cd-user-modal -->
    {% endblock %}

{% block scripts %}
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/modernizr.js"></script>
{% endblock %}

</body>

</html>

