
{% extends "base.html"%}

{% block content %}
    <!-- Header -->
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>

    <div class="intro-header-main">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>StudyBuddie</h1>
                      <!--  <h3>Study Smarter</h3>    -->
                        <hr class="intro-divider">
                     </div>
                 </div>
             </div>

             <div class="row">
                        <form class="form-lead-capture" method="POST" action="auth/register">



                        <label class="email-capture">

                        {{ form.email(placeholder="        Enter your email address") }}



                        {{form.submit(_class="button button-navy input-lead-gen", value="Join the Beta List")}}

                       <!-- <input type="submit" class="button button-navy input-lead-gen" value="Get Started"></input> -->
                        </form>
            </div>



        </div>
        <!-- /.container -->

    </div>


    <!-- /.intro-header -->
    <!-- Page Content -->
    <!-- intro lines on top after splash screen -->


    <div class="content-section-b">
        <div class="row text-center row-centered">
            <h1 class="intro-line-text">Tutoring tailored to your schedule</h1>
        </div>


            <div class="row text-center row-centered">
                <div class="col-md-2 col-sm-5 col-xs-5 vcenter col-centered-main">
                    <img class="img-responsive center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/clock.png" alt="">
                </div>

                <div class="col-md-5 col-sm-8 col-xs-8 vcenter col-centered-main">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">On-Demand Tutoring</h3>

                    <p class="lead">Midterm tomorrow? StudyBuddie will match you with a tutor who can meet you in an hour or less </p>
                </div>
            </div>

            <br>

             <div class="row text-center row-centered">
                <div class="col-md-2 col-sm-5 col-xs-5 vcenter col-centered-main">
                    <img class="img-responsive center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/person.png" alt="">
                </div>

                <div class="col-md-5 col-sm-8 col-xs-8 vcenter col-centered-main">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Learn from an Expert</h3>

                    <p class="lead">StudyBuddies are grad students, TAs, and other experts that can answer the hard questions</p>
                </div>
            </div>

            <br>

             <div class="row text-center row-centered">
                <div class="col-md-2 col-sm-5 col-xs-5 vcenter col-centered-main">
                    <img class="img-responsive center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/money.png" alt="">
                </div>

                <div class="col-md-5 col-sm-8 col-xs-8 vcenter col-centered-main">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Class Specific Tutoring</h3>
                    <p class="lead">From CHEM101 to CS295 StudyBuddies are course specific, they know the syllabus inside out</p>
                </div>
            </div>


        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-a">

        <div class="container">

            <div class="row row-centered margin-lr">

                <div class="col-md-4 col-sm-8 col-xs-8 col-centered">
                    <img class="img-responsive center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/schedule.png" alt="">
                    <div align="center">
                        <h3 class="section-heading-light">Get Scheduled</h3>
                        <p class="lead-white">Pick when you need a tutor, anytime between right now and next week</p>
                    </div>
                </div>


                <div class="col-md-4 col-sm-8 col-xs-8 col-centered">
                    <img class="img-responsive center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/matched.png" alt="">
                    <div align="center">
                        <h3 class="section-heading-light">Get Matched</h3>
                        <p class="lead-white">We will match you with a StudyBuddie who is an expert at your class</p>

                    </div>
                </div>


                <div class="col-md-4 col-sm-8 col-xs-8 col-centered">
                    <img class="img-responsive center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/aplus.png" alt="">
                    <div align="center">
                        <h3 class="section-heading-light">Get Better Grades</h3>
                        <p class="lead-white">Your StudyBuddy will teach you what you need to know to ace the next test!</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

   <!-- <div class="content-section-b">
        <div class="container">
            <div class="row row-centered">
                <div class="quote-textstyle">Study smarter with an expert, your StudyBuddie</h3>
            </div>
        </div>
    </div>-->




    <!-- /.content-section-a -->

        <div class="content-section-b">

        <div class="container">

            <div class="row row-centered">

                <div class="col-sm-4 col-centered">
                    <img class="img-responsive img-circle center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/walter.jpg" alt="">
                    <div align="center">
                        <br>
                        <p class="text-review">I've spent countless nights cramming for tests when all I really needed was a StudyBuddie to clarify a few points for me.</p>
                    </div>
                </div>


                <div class="col-sm-4 col-sm-offset-1 col-centered">
                    <img class="img-responsive img-circle center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/souvik.jpg" alt="">
                    <div align="center">
                        <br>
                        <p class="text-review">After writing my final paper, what I needed most was to have a StudyBuddie review my writing and help me clarify my thoughts.</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>


    <!-- footer stuff -->

<!--    <div class="banner">

        <div class="container">

            <div class="row row-centered">
                <div class="col-lg-12">
                    <h2>Wanna Learn More?</h2>
                    <br>
                </div>
            </div>
                <!--
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                    -->
                    <!--
                        <form class="form-lead-capture" method="POST" action="auth/register">



                        <label class="email-capture">
                        {{ form.email(placeholder="Enter your email address") }}



                        {{form.submit(_class="button button-navy input-lead-gen", value="Join the Beta List")}}
                        -->

                       <!-- <input type="submit" class="button button-navy input-lead-gen" value="Get Started"></input> -->
                       <!-- </form>-->


                </div>


        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">

                    <!--
                        <li>
                            <a href="#home">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                        -->
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; StudyBuddie 2014. All Rights Reserved</p>
                    <a class="copyright text-muted small" href="mailto:support@studybuddie.me">support@studybuddie.me</a>

                </div>
            </div>
        </div>
    </footer>


    <div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
        <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
            <ul class="cd-switcher">
                <li><a href="#0">Sign in</a></li>
                <li><a href="#0">New account</a></li>
            </ul>

            <div id="cd-login"> <!-- log in form -->
            <form class="cd-form">
            <p class="fieldset">
                    {{ form.email(class_="full-width has-padding has-border", id="signin-email", type="email", placeholder="E-mail") }}
            </p>
            <p class="fieldset">
                    {{ form.password(class_="full-width has-padding has-border", id="signin-password", type="text", placeholder="Password") }}
                    <a href="#0" class="hide-password">Hide</a>
            </p>
            <p class="fieldset">
                <input class="full-width" type="submit" value="Login">
            </p>

             </form>
                <p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p>
                <!-- <a href="#0" class="cd-close-form">Close</a> -->
            </div> <!-- cd-login -->

            <div id="cd-signup"> <!-- sign up form -->
                <form class="cd-form">
                    <p class="fieldset">
                        <label class="image-replace cd-username" for="signup-username">Username</label>
                        <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username">
                        <span class="cd-error-message">Error message here!</span>
                    </p>

                    <p class="fieldset">
                        <label class="image-replace cd-email" for="signup-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
                        <span class="cd-error-message">Error message here!</span>
                    </p>

                    <p class="fieldset">
                        <label class="image-replace cd-password" for="signup-password">Password</label>
                        <input class="full-width has-padding has-border" id="signup-password" type="text"  placeholder="Password">
                        <a href="#0" class="hide-password">Hide</a>
                        <span class="cd-error-message">Error message here!</span>
                    </p>

                    <p class="fieldset">
                        <input type="checkbox" id="accept-terms">
                        <label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
                    </p>

                    <p class="fieldset">
                        <input class="full-width has-padding" type="submit" value="Create account">
                    </p>
                </form>

                <!-- <a href="#0" class="cd-close-form">Close</a> -->
            </div> <!-- cd-signup -->

            <div id="cd-reset-password"> <!-- reset password form -->
                <p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

                <form class="cd-form">
                    <p class="fieldset">
                        <label class="image-replace cd-email" for="reset-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
                        <span class="cd-error-message">Error message here!</span>
                    </p>

                    <p class="fieldset">
                        <input class="full-width has-padding" type="submit" value="Reset password">
                    </p>
                </form>

                <p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
            </div> <!-- cd-reset-password -->
            <a href="#0" class="cd-close-form">Close</a>
        </div> <!-- cd-user-modal-container -->
    </div> <!-- cd-user-modal -->
    {% endblock %}
