
{% extends "base.html"%}
{% block navbar %}
{{ super() }}
        {% if not hideLogin %}
        <div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
        <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
            <ul class="cd-switcher list-unstyled">
                <li>
                <a href="#0">Log in</a>
                </li>
                <li>
                <a href="#0">Register</a>
                </li>
            </ul>

            <div id="cd-login"> <!-- log in form -->
                <form class="cd-form" method="POST" action="auth/login">
                {{ loginForm.hidden_tag() }}
                <p class="fieldset">
                    <label class="image-replace cd-email" for="signup-email">E-mail</label>

                    {{ loginForm.email(class_="full-width has-padding has-border", id="signin-email", type="email", placeholder="E-mail") }}
                    <span class="cd-error-message">Error message here!</span>
                </p>
                <p class="fieldset">
                    <label class="image-replace cd-password" for="signup-password">Password</label>
                    {{ loginForm.password(class_="full-width has-padding has-border", id="signin-password", type="text", placeholder="Password") }}
                    <span class="cd-error-message">Error message here!</span>
                    <a href="#0" class="hide-password">Hide</a>
                </p>
                <p class="fieldset">
                    <input class="full-width" type="submit" value="Login">
                </p>
             </form>
                <p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p>
                <!-- <a href="#0" class="cd-close-form">Close</a> -->
            </div> <!-- cd-login -->

            <div id="cd-signup"> <!-- sign up form -->
                <form class="cd-form" method="POST" action="{{ url_for('auth.register', tutor=True) }}">
                    {{ registerForm.hidden_tag() }}
                    <p class="fieldset">
                        <label class="image-replace cd-email" for="signup-email">E-mail</label>
                        {{ registerForm.email(class="full-width has-padding has-border", id="signup-email",placeholder="E-mail") }}
                    </p>

                    <p class="fieldset">
                        <label class="image-replace cd-password" for="signup-password">Password</label>
                        {{ registerForm.password(class="full-width has-padding has-border", id="signup-password",placeholder="Password") }}
                        <a href="#0" class="hide-password">Hide</a>
                    </p>
                    <p class="fieldset">
                        <input type="checkbox" id="accept-terms">
                        <label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
                    </p>
                    <p class="fieldset">
                        <input class="full-width has-padding" type="submit" value="Register">
                    </p>
                </form>

                <!-- <a href="#0" class="cd-close-form">Close</a> -->
            </div> <!-- cd-signup -->

            <div id="cd-reset-password"> <!-- reset password form -->
                <p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

                <form class="cd-form">
                    <p class="fieldset">
                        <label class="image-replace cd-email" for="reset-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
                        <span class="cd-error-message">Error message here!</span>
                    </p>

                    <p class="fieldset">
                        <input class="full-width has-padding" type="submit" value="Reset password">
                    </p>
                </form>

                <p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
            </div> <!-- cd-reset-password -->
            <a href="#0" class="cd-close-form">Close</a>
        </div> <!-- cd-user-modal-container -->
    </div> <!-- cd-user-modal -->
    {% endif %}
{% endblock %}

{% block content %}
<!-- Google Analytics Code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58439076-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>
<!-- End Google Analytics Code -->



    <!-- Header -->
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <div class="intro-header-main">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">

                    <div class="intro-message">
                         <img class="img-responsive center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/Final_Logo.png" alt="">
                          <h3 class="section-subtitle">Save Time, Study Smarter</h3>
                        <hr class="intro-divider">

                     </div>
                 </div>
             </div>
             <div class="row">
                        <form class="form-lead-capture" method="POST" action="{{ url_for('auth.signup', tutor=False) }}">
                        <label class="email-capture">
                        {{ signUpForm.hidden_tag() }}
                        {{ signUpForm.email(placeholder="        Enter your email address") }}
                        {{ signUpForm.submit(class="button button-navy input-lead-gen", value="Sign Up")}}
                        </form>
            </div>
        </div>
        <!-- /.container -->

    </div>


    <!-- /.intro-header -->
    <!-- Page Content -->
    <!-- intro lines on top after splash screen -->


    <div class="content-section-b">
        <div class="row text-center row-centered">
            <h1 class="intro-line-text">Tutoring tailored to you</h1>
        </div>


            <div class="row text-center row-centered">
                <div class="col-md-2 col-sm-5 col-xs-5 vcenter col-centered-main">
                    <img class="img-responsive center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/stopwatch.png" alt="">
                </div>

                <div class="col-md-5 col-sm-8 col-xs-8 vcenter col-centered-main">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">On-Demand</h3>

                    <p class="lead">Midterm tomorrow? StudyBuddie will match you with a tutor who can meet you in an hour or less </p>
                </div>
            </div>

            <br>

            <div class="row text-center row-centered">
                <div class="col-md-2 col-sm-5 col-xs-5 vcenter col-centered-main">
                    <img class="img-responsive center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/science.png" alt="">
                </div>

                <div class="col-md-5 col-sm-8 col-xs-8 vcenter col-centered-main">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Class Specific</h3>
                    <p class="lead">From CHEM101 to CS295 StudyBuddies are course specific, they know the syllabus inside out</p>
                </div>
            </div>

            <br>

             <div class="row text-center row-centered">
                <div class="col-md-2 col-sm-5 col-xs-5 vcenter col-centered-main">
                    <img class="img-responsive center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/person.png" alt="">
                </div>

                <div class="col-md-5 col-sm-8 col-xs-8 vcenter col-centered-main">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Learn from an Expert</h3>

                    <p class="lead">StudyBuddies are grad students, TAs, and other experts that can teach the hard stuff</p>
                </div>
            </div>




        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-a">

        <div class="container">
            <div class="row text-center row-centered">
                <h1 class="intro-line-text">Just 3 steps to get a StudyBuddie</h1>
            </div>
            <div class="row row-centered margin-lr">

                <div class="col-md-4 col-sm-8 col-xs-8 col-centered">
                    <img class="img-responsive center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/schedule.png" alt="">
                    <div align="center">
                        <h3 class="section-heading-light">Get Scheduled</h3>
                        <p class="lead-white">Pick when you need a tutor, anytime today and tomorrow</p>
                    </div>
                </div>


                <div class="col-md-4 col-sm-8 col-xs-8 col-centered">
                    <img class="img-responsive center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/matched.png" alt="">
                    <div align="center">
                        <h3 class="section-heading-light">Get Matched</h3>
                        <p class="lead-white">We will match you with a StudyBuddie who is an expert at your class</p>

                    </div>
                </div>


                <div class="col-md-4 col-sm-8 col-xs-8 col-centered">
                    <img class="img-responsive center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/cap.png" alt="">
                    <div align="center">
                        <h3 class="section-heading-light">Get Better Grades</h3>
                        <p class="lead-white">Your StudyBuddy will meet you and teach what you need to know!</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

   <!-- <div class="content-section-b">
        <div class="container">
            <div class="row row-centered">
                <div class="quote-textstyle">Study smarter with an expert, your StudyBuddie</h3>
            </div>
        </div>
    </div>-->



<!--

    <div class="content-section-b">
        <div class="row text-center row-centered">
            <h1 class="intro-line-text">How to Work Smarter with StudyBuddie</h1>
        </div>


            <div class="row text-center row-centered">
                <div class="col-md-2 col-sm-5 col-xs-5 vcenter col-centered-main">
                    <img class="img-responsive center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/books.png" alt="">
                </div>

                <div class="col-md-5 col-sm-8 col-xs-8 vcenter col-centered-main">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Review Session for Tests</h3>

                    <p class="lead">StudyBuddies know what concepts are on the next test, and make sure you're prepared for it</p>
                </div>
            </div>

            <br>

             <div class="row text-center row-centered">
                <div class="col-md-2 col-sm-5 col-xs-5 vcenter col-centered-main">
                    <img class="img-responsive center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/math.png" alt="">
                </div>

                <div class="col-md-5 col-sm-8 col-xs-8 vcenter col-centered-main">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Homework and Lab Help</h3>

                    <p class="lead">Lost on your homework? StudyBuddies fill in the gaps to help you understand how to complete your assignments</p>
                </div>
            </div>

            <br>

             <div class="row text-center row-centered">
                <div class="col-md-2 col-sm-5 col-xs-5 vcenter col-centered-main">
                    <img class="img-responsive center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/penandpaper.png" alt="">
                </div>

                <div class="col-md-5 col-sm-8 col-xs-8 vcenter col-centered-main">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Essay Editing</h3>
                    <p class="lead">StudyBuddies work on all aspects of essay writing, from brainstorming to last minute editing</p>
                </div>
            </div>


        </div>
        <!-- /.container -->
<!--
    </div>

                </div>


        </div>
        <!-- /.container -->

    <!--</div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; StudyBuddie 2014. All Rights Reserved</p>
                    <a class="copyright text-muted small" href="mailto:support@studybuddie.me">support@studybuddie.me</a>

                </div>
            </div>
        </div>
    </footer>
    {% endblock %}
