{% extends "base.html"%}
{% block content %}
<div class="intro-header">
    <div class="intro-message">
        <p class="lead">Set up your account to get a StudyBuddie right away!</p>


     </div>
	<div class="row text-center row-centered">

		<div class="col-md-3 vcenter col-centered-main">

			<form class="form" method="post" role="form">
			{{studentForm.csrf_token}}
			{{ wtf.form_field(studentForm.fullname) }}
			{{ wtf.form_field(studentForm.school) }}
			{{ wtf.form_field(studentForm.grade) }}
			{{ wtf.form_field(studentForm.phonenumber) }}
			{{ wtf.form_field(studentForm.major, placeholder="Optional") }}
			{{ wtf.form_field(studentForm.submit) }}
			</form>
		</div>
	</div>
</div>
{% endblock %}