
{% extends "base.html"%}

{% block content %}
    <!-- Header -->

    <div class="intro-header-main">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>StudyBuddie</h1>
                          <h3 class="section-subtitle">Save Time, Study Smarter</h3>
                        <hr class="intro-divider">
                    </div>
                    <div class="row">
                        <form class="form-lead-capture" method="POST" action="auth/registertutor">
                            <label class="email-capture">
                            {{ form.email(placeholder="        Enter your email address") }}
                            {{form.submit(_class="button button-navy input-lead-gen", value="Be a StudyBuddie")}}
                        </form>
                    </div>

                 </div>
             </div>



        </div>
        <!-- /.container -->

    </div>


    <!-- /.intro-header -->
    <!-- Page Content -->
    <!-- intro lines on top after splash screen -->


    <div class="content-section-b">
        <div class="row text-center row-centered">
            <h1 class="intro-line-text">Become a StudyBuddie</h1>
        </div>


            <div class="row text-center row-centered">
                <div class="col-md-2 col-sm-5 col-xs-5 vcenter col-centered-main">
                    <img class="img-responsive center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/freetime.png" alt="">
                </div>

                <div class="col-md-5 col-sm-8 col-xs-8 vcenter col-centered-main">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Tutor in your free time</h3>

                    <p class="lead">Send us your schedule, and we'll notify you of possible tutoring sessions you can elect to do</p>
                </div>
            </div>

            <br>

            <div class="row text-center row-centered">
                <div class="col-md-2 col-sm-5 col-xs-5 vcenter col-centered-main">
                    <img class="img-responsive center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/paper_airplane.png" alt="">
                </div>

                <div class="col-md-5 col-sm-8 col-xs-8 vcenter col-centered-main">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Straight simple tutoring</h3>
                    <p class="lead">We'll take care of the administrative hassles, so you can save time and focus on tutoring</p>
                </div>
            </div>

            <br>

             <div class="row text-center row-centered">
                <div class="col-md-2 col-sm-5 col-xs-5 vcenter col-centered-main">
                    <img class="img-responsive center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/moneybag.png" alt="">
                </div>

                <div class="col-md-5 col-sm-8 col-xs-8 vcenter col-centered-main">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Get paid for what you know</h3>

                    <p class="lead">Aced your last semester classes? Get paid to spread the knowledge and become a StudyBuddie!</p>
                </div>
            </div>




        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-a">

        <div class="container">
            <div class="row text-center row-centered">
                <h1 class="intro-line-text">Just 3 steps to be a StudyBuddie</h1>
            </div>

            <div class="row row-centered margin-lr">

                <div class="col-md-4 col-sm-8 col-xs-8 col-centered">
                    <img class="img-responsive center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/notify.png" alt="">
                    <div align="center">
                        <h3 class="section-heading-light">Get Contacted</h3>
                        <p class="lead-white">We'll send out notifications around your schedule on upcoming tutoring jobs</p>
                    </div>
                </div>


                <div class="col-md-4 col-sm-8 col-xs-8 col-centered">
                    <img class="img-responsive center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/student.png" alt="">
                    <div align="center">
                        <h3 class="section-heading-light">Get Matched</h3>
                        <p class="lead-white">Respond to notifications that you can commit to, and we'll pass along the student info</p>

                    </div>
                </div>


                <div class="col-md-4 col-sm-8 col-xs-8 col-centered">
                    <img class="img-responsive center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/piggybank.png" alt="">
                    <div align="center">
                        <h3 class="section-heading-light">Get Paid</h3>
                        <p class="lead-white">We take care of the payment collection so you can get paid ASAP</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

   <!-- <div class="content-section-b">
        <div class="container">
            <div class="row row-centered">
                <div class="quote-textstyle">Study smarter with an expert, your StudyBuddie</h3>
            </div>
        </div>
    </div>-->





    <div class="content-section-b">
        <div class="row text-center row-centered">
            <h1 class="intro-line-text">Work Smarter with StudyBuddie</h1>
        </div>


            <div class="row text-center row-centered">
                <div class="col-md-2 col-sm-5 col-xs-5 vcenter col-centered-main">
                    <img class="img-responsive center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/books.png" alt="">
                </div>

                <div class="col-md-5 col-sm-8 col-xs-8 vcenter col-centered-main">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">One Time Tutoring</h3>

                    <p class="lead">StudyBuddies commit to only one tutoring session, no need to prepare weekly lesson plans</p>
                </div>
            </div>

            <br>

             <div class="row text-center row-centered">
                <div class="col-md-2 col-sm-5 col-xs-5 vcenter col-centered-main">
                    <img class="img-responsive center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/hasslefree.png" alt="">
                </div>

                <div class="col-md-5 col-sm-8 col-xs-8 vcenter col-centered-main">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Hassle Free</h3>

                    <p class="lead">No need to advertise, schedule, or collect money, we take care of all of it so you don't have to</p>
                </div>
            </div>

            <br>

             <div class="row text-center row-centered">
                <div class="col-md-2 col-sm-5 col-xs-5 vcenter col-centered-main">
                    <img class="img-responsive center-block" src="https://s3.amazonaws.com/nameless-harbor-2037/img/bird.png" alt="">
                </div>

                <div class="col-md-5 col-sm-8 col-xs-8 vcenter col-centered-main">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Be the Early Bird</h3>
                    <p class="lead">Sign up today to be a StudyBuddie and we'll contact you when we launch with special perks!</p>
                </div>
            </div>


        </div>
        <!-- /.container -->

    </div>
                </div>


        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; StudyBuddie 2014. All Rights Reserved</p>
                    <a class="copyright text-muted small" href="mailto:support@studybuddie.me">support@studybuddie.me</a>

                </div>
            </div>
        </div>
    </footer>
    {% endblock %}
